FASE III/ULTIMA_JORNADA/resultados_ultima_J.dtd

<!ELEMENT ultima_jornada (jornada)>
<!ELEMENT jornada ((num_jornada,fecha_jornada,partido*))>
<!ELEMENT num_jornada (#PCDATA)>
<!ELEMENT fecha_jornada (#PCDATA)>
<!ELEMENT partido ((fecha_partido,cod_partido,resultado,nombre_equipo+))>
<!ELEMENT fecha_partido (#PCDATA)>
<!ELEMENT cod_partido (#PCDATA)>
<!ELEMENT resultado (#PCDATA)>
<!ELEMENT nombre_equipo (#PCDATA)>
<!ATTLIST cod_partido id_partido CDATA #REQUIRED>
<!ATTLIST resultado puntuacion NMTOKEN #REQUIRED>