FASE III(09-05-2022)/RESULTADOS_JORNADAS/resultados_J.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT resultados_jornadas (jornada*)>
<!ELEMENT jornada ((num_jornada,fecha_jornada,partido)*)>
<!ELEMENT num_jornada (#PCDATA)>
<!ELEMENT fecha_jornada (#PCDATA)>
<!ELEMENT partido ((fecha_partido,cod_partido,resultado,nombre_equipo)*)>
<!ELEMENT fecha_partido (#PCDATA)>
<!ELEMENT cod_partido (#PCDATA)>
<!ELEMENT resultado (#PCDATA)>
<!ELEMENT nombre_equipo (#PCDATA)>