FASE III (10-05-2022)/ULTIMA_JORNADA/resultados_ultima_J.dtd

<!ELEMENT ultima_jornada (fecha_expiracion, jornada)>
<!ELEMENT fecha_expiracion (#PCDATA)>
<!ELEMENT jornada (partido+)>
<!ELEMENT partido ((resultado,nombre_equipo+))>
<!ELEMENT resultado (#PCDATA)>
<!ELEMENT nombre_equipo (#PCDATA)>
<!ATTLIST jornada num_jornada CDATA #REQUIRED>
<!ATTLIST jornada fecha_jornada CDATA #REQUIRED>
<!ATTLIST partido cod_partido CDATA #REQUIRED>
<!ATTLIST partido hora_partido CDATA #REQUIRED>
